*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.conteiner{
    margin: auto;
    width: 1000px;
}

h1{
    color: fuchsia;
    text-align: center;
    margin-top: 40px;
    font-family: 'Righteous';
}

p{
    margin-top: 50px;
    text-align: center;
    font-family: 'Righteous', cursive;
}


.info-container{
    margin-top: 50px;
    margin-left: 30px;
    background-color: black;
    width: calc(100% / 3 - 40px);
    height: 80px;
    float: left;
}

.left-box{
    background-size: contain;
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 10px;
}

.right-box{
    float: left;
    width: calc(70% - 10px);

}

h3{
    margin-top: 15px;
}

h5, small{
    margin-top: 5px;
}

h3, h5, small{
    color: white;
}

small{
    color: dodgerblue;
}

#p-img{
    background-image: url(../assets/img/male1.png);
}

#s-img{
    background-image: url(../assets/img/female1.png);
}

#t-img{
    background-image: url(../assets/img/male2.png);
}

#q-img{
    background-image: url(../assets/img/female2.png);
}

#qi-img{
    background-image: url(../assets/img/male3.png);
}

#se-img{
    background-image: url(../assets/img/female3.png);
}